In [1]:
library(readr)
library(tidyr)
library(devtools)
#library(testthat)

Loading required package: usethis

In [2]:
course_csv <- tibble(
    "Components" = c("Assignment 1", 
                     "Assignment 2", 
                     "Quiz 1", "Quiz 2",
                     "Midterm 1", "Final"),
    "Weights (%)" = c(5, 5, 15, 15, 20, 40),
    "Grades (%)" = c(NA, NA, NA, NA, NA, NA)
)

In [3]:
course_csv

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          NA
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [4]:
###############

In [5]:
getwd()

[1] "/Users/shirley/Desktop/DSCI524_collabsoft/gradecalculatorr/R"

In [6]:
#write.csv(course_csv, file='test_course.csv')
#read.csv(file='test_course.csv')

In [7]:
write_csv(course_csv, file='test_course.csv')

In [8]:
read_csv(file='test_course.csv')

Rows: 6 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Components
dbl (1): Weights (%)
lgl (1): Grades (%)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          NA
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [9]:
###############

In [10]:
load_course <- function(input_file) {
    read_csv(file=input_file)
}

In [11]:
test <- load_course('test_course.csv')
test

Rows: 6 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Components
dbl (1): Weights (%)
lgl (1): Grades (%)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          NA
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [12]:
save_course_csv <- function(updated_course_df, output_file) {
    write_csv(updated_course_df, file=output_file)
}

In [13]:
save_course_csv(test, 'test2_course.csv')

In [14]:
test

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          NA
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [15]:
test <- load_course("test_course.csv")
test

test$`Grades (%)`[test$Components == "Assignment 2"] = 95

test

Rows: 6 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Components
dbl (1): Weights (%)
lgl (1): Grades (%)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          NA
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          95
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [16]:
test$Components == "Assignment 1"

[1]  TRUE FALSE FALSE FALSE FALSE FALSE

In [25]:
test

  Components   Weights (%) Grades (%)
1 Assignment 1  5          NA
2 Assignment 2  5          95
3 Quiz 1       15          NA
4 Quiz 2       15          NA
5 Midterm 1    20          NA
6 Final        40          NA

In [28]:
(test$`Grades (%)`[test$Components == "Assignment 2"])

[1] 95

In [18]:
round(95.123, 2)

[1] 95.12

In [19]:
update_component_grade <- function(input_file, component, grade) {
    
    df <- load_course(input_file) 
    df$`Grades (%)`[df$Components == component] <- round(grade, 2)
    save_course_csv(df, input_file)
    
}

In [20]:
update_component_grade("test_course.csv", "Assignment 2", 93.233)
update_component_grade("test_course.csv", "Assignment 1", 95.555)

Rows: 6 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Components
dbl (1): Weights (%)
lgl (1): Grades (%)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 6 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Components
dbl (2): Weights (%), Grades (%)

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [21]:
##################

In [24]:
from gradecalculatorpy.update_grades import update_assignment_grade
import pandas as pd


def test_update_grades_correctly():
    '''Test that updates the grade of component 'Midterm 2' in dummycourse.csv and checks if it was updated correctly'''
    
    # set values
    input_file_path = 'tests/dummycourse.csv'
    component = 'Midterm 2'
    expected = 92.3 

    # call function 
    update_assignment_grade(input_file_path, component, expected)

    # compare output with expected grade
    df = pd.read_csv(input_file_path, index_col=0)
    assert df.query('Components == @component')['Grades (%)'].to_list()[0] == expected, "Course component not updated correctly!"

     
def test_only_one_changed():
    '''Test that ensures only the one row that was specified was changed'''
    
    # set values 
    input_file_path = 'tests/dummycourse.csv'
    component = 'Assignment 3'
    updated_grade = 97 

    # get original grades list 
    df = pd.read_csv(input_file_path, index_col=0)
    og_grades_list = list(df['Grades (%)'])

    # update csv and get new list
    update_assignment_grade(input_file_path, component, updated_grade)
    df2 = pd.read_csv(input_file_path, index_col=0)
    df2_grades_list = list(df2['Grades (%)'])

    # get index of component 
    comp_index = df.query('Components == @component').index[0]

    # update original grades list with expected grade 
    og_grades_list[comp_index] = updated_grade 

    # compare the two lists 
    assert df2_grades_list == og_grades_list, 'Grade (%) column not correct!'
    
    
def test_df_shape():
    '''Test that ensures the shape of the dataframe is still the same after updating''' 
    
    # set values
    input_file_path = 'tests/dummycourse.csv'
    component = 'Final Exam'
    updated_grade = 99
    
    # read original dataframe size 
    df = pd.read_csv(input_file_path, index_col=0)

    # call function 
    update_assignment_grade(input_file_path, component, updated_grade)
    df2 = pd.read_csv(input_file_path, index_col=0)

    # compare new dataframe size 
    assert df.shape == df.shape, 'Updated dataframe has wrong size'

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: from gradecalculatorpy.update_grades
         ^

In [22]:
use_testthat()

✔ Setting active project to '/Users/shirley/Desktop/DSCI524_collabsoft/gradecalculatorr'
• Call `use_test()` to initialize a basic test file and open it for editing.

In [23]:
use_test("update_grades")

✔ Writing 'tests/testthat/test-update_grades.R'
• Edit 'tests/testthat/test-update_grades.R'

In [ ]:
test_that("strsplit1() splits a string", {
    
  expect_equal(strsplit1("a,b,c", split = ","), c("a", "b", "c"))
    
})